@model Order

<div id="main">

    <h2>Check out now</h2>
    <p>Please enter your details, and we'll ship your goods right away!</p>

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Checkout" method="post" id="call">

        <h3>Ship to</h3>
        <div class="form-group" id="name">
            <label>Name:</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <h3>Address</h3>
        <div class="form-group" id="line1">
            <label>Line 1:</label>
            <input asp-for="Line1" class="form-control" />
        </div>

        <div class="form-group" id="line2">
            <label>Line 2:</label>
            <input asp-for="Line2" class="form-control" />
        </div>

        <div class="form-group" id="line3">
            <label>Line 3:</label>
            <input asp-for="Line3" class="form-control" />
        </div>

        <div class="form-group" id="city">
            <label>City:</label>
            <input asp-for="City" class="form-control" />
        </div>

        <div class="form-group" id="state">
            <label>State:</label>
            <input asp-for="State" class="form-control" />
        </div>

        <div class="form-group">
            <label>Zip:</label>
            <input asp-for="Zip" class="form-control" />
        </div>

        <div class="form-group" id="country">
            <label>Country:</label>
            <input asp-for="Country" class="form-control" />
        </div>

        <h3>Options</h3>
        <div class="checkbox" id="check">
            <label>
                <input asp-for="GiftWrap" /> Gift wrap these items
            </label>
        </div>
        @*<div class="text-center">
                <input class="btn btn-primary" type="submit" value="Complete Order" />
            </div>*@
        <div id="paypal-button-container" class="text-center">
        </div>
    </form>
</div>

<div id="complete">

</div>

<script src="https://www.paypalobjects.com/api/checkout.js"></script>


<script>

    // Render the PayPal button
    var money = '@Html.Raw(Model.ComputeTotalValue())';
    console.log(money)

    paypal.Button.render({

        // Set your environment

        env: 'sandbox', // sandbox | production

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
            sandbox:    'AS-U9bmJrw-iJiTavP70x8i_V8RU55Ze6fkYE1lqcYqxmcWlwIJcCXN_QQ1KYhSraZh-8eQD0Pdl2g11',
            production: '<insert production client id>'
        },
        style: {
            size: 'medium',
            color: 'blue',
            shape: 'pill',
            label: 'checkout'
        },
        // Set to 'Pay Now'

        commit: true,

        // Wait for the PayPal button to be clicked
        payment: function() {

            // Make a client-side call to the REST api to create the payment

            return paypal.rest.payment.create(this.props.env, this.props.client, {
                transactions: [
                    {
                        amount: { total: money, currency: 'USD' }
                    }
                ]
            });
        },

        // Wait for the payment to be authorized by the customer

        onAuthorize: function(data, actions) {

            // Execute the payment

            return actions.payment.execute().then(function () {
                //document.querySelector("#main").remove();
                //document.querySelector("#complete").innerHTML = '<h2>Thanks!</h2> + <p>Thanks for placing your order.</p> + <p> We\'ll ship your goods as soon as possible.</p>';
                form = document.forms[0];
                form.submit();
                document.querySelector('#paypal-button-container').innerText = 'Payment Complete!';
            });
        }

    }, '#paypal-button-container');

</script>


